<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" />
    <title>Maple: Cucumber Tests</title>

    <script type="text/javascript" src="base/tests/compiled/vendor/webcomponentsjs/webcomponents.js"></script>
    <script type="text/javascript" src="base/tests/compiled/vendor/browser.js"></script>
    <script type="text/javascript" src="base/tests/compiled/vendor/fetch/fetch.js"></script>
    <script type="text/javascript" src="base/tests/compiled/vendor/react/react.js"></script>
    <script type="text/javascript" src="base/tests/compiled/vendor/maple/maple.js"></script>
    <script type="text/javascript" src="base/tests/compiled/vendor/es6-module-loader/dist/es6-module-loader.js"></script>

</head>
<body>

    <script type="text/javascript">

        if ('startCucumberRun' in window) {
            startCucumberRun();
        }

    </script>

</body>
</html>