* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;

    i {
        margin-right: 10px;
    }

    span:nth-of-type(2) {
        margin-left: 5px;
        color: rgba(0, 0, 0, .25);
    }
}

ul {
    margin: 10px 0;
    list-style-type: none;
    width: 300px;

    li {
        padding: 0 10px;
        height: 28px;
        line-height: 28px;
        font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: rgba(0, 0, 0, .75);
        font-size: 12px;
        position: relative;
        margin-bottom: 1px;
        overflow: hidden;
        cursor: pointer;
        transition: all .25s;

        &:nth-child(odd) {
            background-color: rgba(0, 0, 0, .05);
        }

        button.remove {
            position: absolute;
            top: 0;
            border: 0;
            height: 28px;
            line-height: 28px;
            padding: 0 6px;
            outline: none;
            width: 85px;
            visibility: hidden;
            pointer-events: none;
            z-index: 101;
            right: -160px;
            transition: all .55s;
            color: white;
            font-size: 9px;
            background-color: lightgray;
            border-left: 1px solid white;

            &:hover {
                background-color: darkgray;
            }
        }

        &.none {
            font-style: italic;
        }

        &.done {
            background-color: rgba(68, 170, 85, .5) !important;
            color: white;
            text-decoration: line-through;

            &:hover button.remove {
                visibility: visible;
                cursor: pointer;
                pointer-events: all;
                right: 0;
            }

            &:after {
                visibility: visible;
                right: 0;
            }

            &/deep/ time {
                color: white;
            }
        }

        &:after {
            content: "✓";
            visibility: hidden;
            position: absolute;
            color: white;
            text-align: center;
            font-size: 14px;
            top: 0;
            right: -28px;
            height: 28px;
            width: 28px;
            background-color: #44AA55;
            transition: all .25s;
        }
    }
}